<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title | default: site.name }}</title>
  <meta name="author" content="{{ site.name }}" />
  <link rel="stylesheet" href="/style.css" />
  <style>
    .profile-img {
      float: right;
      margin-left: 20px;
      width: 200px;
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <header>
    <h1>{{ site.name }}</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>Design and source code from <a href="https://jonbarron.info/">Jon Barron's website</a></p>
  </footer>
</body>
</html>
